
@import 'base/general-styles';
@import 'layout/header';
@import 'layout/nav';
@import 'layout/sidebar';
@import 'layout/slider';
@import 'layout/sections';
@import 'layout/main-content';
@import 'layout/footer';