.site-footer {
    display: flex;
    flex-direction: column;
    border-top: .1rem solid rgb(219, 219, 219);
    padding: 1rem 0 3rem 0;
    margin-top: 8rem;

    &__social-media-icon {
        color: black;
        font-size: 2.5rem;

        &:hover {
            color: #dd3811;
        }
    }

    &__title {
        margin: 0;
    }

    &__span {
        font-size: 1.1rem;
        display: flex;
        align-items: center;

        a {
            margin-left: .9rem;
            margin-right: .9rem;

            &:last-child {
                margin-left: .9rem;
            }
        }
    }

    &__link {
        color: #000000;

        &:hover {
            text-decoration: none;
            color: #dd3811;
        }
    }

    &__button {
        border: 1px solid #747474;
        color: #747474;
        padding: 0 2px 1px 2px;
        text-decoration: none;
        &:hover{
            background-color: #747474;
            color: #ffffff;
        }
    }

}