
.header-nav {
    max-width: 90.9%;
    margin: auto;
    font-size: 12px;
    
    
 

    &__img-logo {
        margin-top: 40px;
        width: 100%;
        
        
    }

    &__nav {
        
        border-top: .1rem solid #bbb;
        border-bottom: .1rem solid #bbb;
        margin-top: 2rem;
    }
}
