//ul list
.list-nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;



    &__items {
        margin: .5rem 2.6rem .5rem 0;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__links {
        text-decoration: none;
        color: #6a6a6a;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
            color: #000000;
        }

        &--inicio {
            font-weight: bold;
        }
    }

    &__icon-arrow {
        border: solid #6a6a6a;
        border-width: 0 .2rem .2rem 0;
        display: inline-block;
        padding: .3rem;

        cursor: pointer;
        margin-left: .3rem;

        &--down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }

        &--right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
        }
    }


}

//submenu

.sub-menu {
    position: absolute;
    display: none;

    &__items {
        list-style: none;
    }

    &__link {
        display: block;
        text-transform: uppercase;
        font-size: 1rem;
        text-decoration: none;
        color: #555555;
        background-color: #EFEFEF;
        padding: 1rem 2rem 1rem 2rem;
        border-bottom: .1rem solid #D6D6D6;
        width: 20.5rem;

        position: relative;
        top: 1rem;
        left: -4rem;

        &:hover {
            text-decoration: underline;
            background-color: #E3E3E3;
        }
    }

    .arrow-right {
        //arrow 
        margin-left: 3rem;

        &.sports {
            margin-left: 12.5rem;
        }

        &.culture {
            margin-left: 12.5rem;
        }
    }

    &--2 {
        //submenu 2
        left: 24.5rem;
        bottom: 11.5rem;
    }

    &--3 {
        //submenu 3
        left: 24.5rem;
        bottom: 0;
    }

    &--4 {
        //submenu 4
        left: 24.5rem;
        bottom: -7rem;
    }
}

.list-nav {
    li:hover>ul {
        display: block;
    }
}

@media(max-width:782px) {
    .header-nav {
        max-width: 100%;
        background-color: #3A3A3A;
        padding: 1rem;
        //position: relative;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;


        &__logo {
            display: none;
        }

        //nav-list
        &__nav {
            margin-top: 0;
            display: none;
        }

    }




    //content menu/form-search
    .content-box-menu {
        display: flex;
        justify-content: space-between;

    }

    .form-search {
        display: block;

        &__input-box {
            display: flex;
            align-items: center;
            background-color: #D0D0D0;
            padding: .5rem;
            border-radius: .3rem;
            -webkit-border-radius: .3rem;
            -moz-border-radius: .3rem;
            -ms-border-radius: .3rem;
            -o-border-radius: .3rem;


        }

        &__icon-search {
            font-size: 1.6rem;
            margin-right: .5rem;

        }

        &__input { //Problema de proporcion en responsiv
            background-color: transparent;
            outline: none;
            width: 100%;
            border: 0;

            &:focus {
                width: 41rem;

            }
        }


    }

    .button-menu {

        background-color: transparent;
        color: #ffff;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        cursor: pointer;

        &__icon-button {
            font-size: 1.7rem;
            margin-right: .6em;
        }

        &__text-button {
            font-size: 1.4rem;
        }
    }


    //nav-list
    #menu-check:checked {
        &~.header-nav__nav {
            display: block;
            position: fixed;
            height: 100vh;
            width: 100%;
            top: 4rem;
            right: 0;

            background-color: #3A3A3A;

            .list-nav__items {
                margin-left: 6rem;
            }

            ul {
                flex-direction: column;
                margin: 0;
                //  overflow: auto;

            }

            li {
                .list-nav__links {
                    color: #ffff;
                    font-size: 1.7rem;


                    &--inicio {
                        display: block;
                        padding: 1rem 3.5rem;
                        background-color: #117BB8;
                        width: 100%;
                        font-size: 1.8rem;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: normal;
                        text-transform: capitalize;

                    }

                    &--capitalize {
                        text-transform: capitalize;
                    }

                }

                &:first-child {
                    margin: 0;
                }
            }

        }
    }


}