//ul list
.list-nav {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;



    &__items {
        margin: .5rem 2.6rem .5rem 0;

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &__links {
  text-decoration: none;
        color: #6a6a6a;

        &:hover {
            text-decoration: underline;
            color: #000000;
        }

        &--inicio {
            font-weight: bold;
        }
    }

    &__icon-arrow {
        border: solid #6a6a6a;
        border-width: 0 .2rem .2rem 0;
        display: inline-block;
        padding: .3rem;

        cursor: pointer;
        margin-left: .3rem;

        &--down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }

        &--right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
        }
    }


}

//submenu

.sub-menu {
    position: absolute;
    display: none;

    &__items {
        list-style: none;
    }

    &__link {
        display: block;
        text-transform: uppercase;
        font-size: 1rem;
        text-decoration: none;
        color: #555555;
        background-color: #EFEFEF;
        padding: 1rem 2rem 1rem 2rem;
        border-bottom: .1rem solid #D6D6D6;
        width: 24.5rem;

        position: relative;
        top: 1rem;
        left: -4rem;

        &:hover {
            text-decoration: underline;
            background-color: #E3E3E3;
        }
    }

    .arrow-right {
        //arrow 
        margin-left: 3rem;
    }

    &--2 {
        //submenu 2
        left: 24.5rem;
        bottom: 11.5rem;
    }
}

.list-nav {
    li:hover>ul {
        display: block;
    }
}