//section about
.section-about {
    display: flex;
    flex-direction: column;

    &__title {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 4.5rem;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        max-width: 30%;
    }

    &__content-internal-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__internal-links {
        &:hover {
            color: red;
            text-decoration: none;
        }
    }
}

//More info
.more-info {
    border-top: .6rem solid #D3D3D3;
    border-bottom: .6rem solid #D3D3D3;

    &__content-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 10rem;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 3rem;
        padding: 2rem 0;

        &:last-child {
            margin-right: 0;
            max-width: 30rem;
        }


    }

    &__title-box {
        margin: 0 0 2.5rem 0;

        &--view-counter {
            font-size: 2.6rem;
            font-weight: normal;

        }
    }

    &__list {
        margin: 0;
        list-style: none;
        text-align: center;

        &--show-list {
            list-style: disc;
            text-align: left;

            li {
                margin-bottom: .8rem;
            }
        }
    }

    &__links {
        &:hover {
            text-decoration: none;
            color: red;
        }
    }




}

@media(max-width:1048px) {
    .more-info {
        &__content-box {
            margin-left: 0;
        }
    }
}

@media(max-width:768px) {

    //section about
    .section-about {
        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__content-internal-links {
            margin-bottom: 2.5rem;
        }

        &__img {
            max-width: 85%;
        }
    }

    .more-info {
        &__content-box {
            flex-direction: column;
            align-items: center;

        }

        &__box {
            width: 85%;
            border-bottom: .6rem solid #D3D3D3;

            &:last-child {
                border: 0;
            }

        }

        &__list {
            padding: 0;
        }
    }
}