.sidebar-facebook {
    background-color: #405D9A;
    width: 4rem;
    height: 24rem;
    //position: fixed;

    position: fixed;
    top: 30%;
    z-index: 999999;
    cursor: pointer;

    &__span {
        display: block;
        padding: 1rem;
        color: #ffffff;
        font-size: 1.7rem;
        font-weight: bold;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
}
