.slider-container{
    max-width: 75%;
    margin: auto;
    margin-top: 4rem;
    padding: .5rem 1rem;
    border: .2rem solid rgb(231, 231, 231);
    &__img{
        max-width: 100%;
    }
}

@media(max-width:782px) {
    .slider-container{
        margin-top: 7.8rem;
    }
}

@media(max-width:768px){
    .slider-container{
        max-width: 86%;
    }
}