html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    /*16px*/
    line-height: 1.8;
    color: #222;
    font-family: "Open Sans", Verdana, Geneva, "DejaVu Sans", sans-serif;
    background-color: #303030;
}
