html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    /*16px*/
    line-height: 1.8;
    color: #222;
    font-family: "Open Sans", Verdana, Geneva, "DejaVu Sans", sans-serif;

    background-color: #303030;
    padding-bottom: 5rem;
}

.form-search , .button-menu , #menu-check{
    display: none;
}



.container-page {
    background-color: #ffffff;
    max-width: 81%;
    margin: auto;
    margin-top: 2.5rem;

    height: 100%;
}


.universal-container{
    max-width: 90%;
    margin: auto;
}

.spacing-sections{
    margin-top: 3rem;
}

@media(max-width:1047px){
    body{
        padding: 0;
        margin: 0;

    }
    .container-page{
        margin-top: 0;
      
        max-width: 100%;
    }
}